.description-exam-java-class {
  font-size: 17px;
}

.section-exam-java-class {
  display: flex;
}

.view-image-class-diagrams {
  flex: 1;
  height: 100%;
}

.view-upload-project {
  flex: 1;
  height: 100%;
}

.style-image-diagram-exam {
  object-fit: contain;
  width: 35rem;
  height: auto;
  border: solid 1px black;
}

.drop-zone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin: 20px 0;
}
.preview {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
}

.style-btn-choose-image-class {
  width: 8rem;
  height: 2.5rem;
  border-radius: 4px;
  font-size: 16px;
}

.style-btn-choose-image-class:hover {
  opacity: 0.8;
}

.style-trash {
  color: white;
}

.style-view-image-uploaded {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
}

.button-purple {
  background-color: var(--purple-iuh);
  color: white;
}