.style-label-form {
  font-size: 17px;
}

.ql-editor {
  font-size: 16px;
}

.style-image-diagram {
  object-fit: contain;
  width: 50rem;
  height: 25rem;
}

.style-image-diagram-to-update {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: solid;
}

.style-btn-upload-image-diagram {
  width: 100%;
  height: 2.5rem;
  font-size: 17px;
  border-radius: 4px;
  margin-top: 1rem;
}

.style-btn-upload-image-diagram:hover {
  opacity: 0.8;
}

.editor{
  height: 400px;
  overflow-y: auto;
}