body {
   display: flex; 
   justify-content: space-between;
}

aside {
    display: flex;
    flex-direction: column;
  
    /* width: calc(2rem + 32px); */
    overflow: hidden;
    min-height: 100vh;
    padding-left: 1rem;
    padding-top: 1rem;
    justify-content: center;
    transition: 0.2s ease-in-out;
    width: 30rem;
}

.aside-menu{
    
}

.aside-account{
   
}

main {
    width: 100%;
    height: auto;
    background-color: #887DDA;
    opacity: 0.5;
}

