.style-text-editor-quill {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

//.style-text-editor-quill::-webkit-scrollbar-thumb {
//  background: #2C2C84;
//  border-radius: 4px;
//}
//
//.style-text-editor-quill::-webkit-scrollbar-track {
//  background: #e2ebf0;
//}

.drop-zone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin: 20px 0;
}
.preview {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
}

.style-btn-choose-image-class {
  width: 8rem;
  height: 2.5rem;
  border-radius: 4px;
  font-size: 16px;
}

.style-btn-choose-image-class:hover {
  opacity: 0.8;
}

.style-trash {
  color: white;
}

.style-view-image-uploaded {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
}

.style-btn-create-test {
  width: 95%;
  height: 2.5rem;
  font-size: 17px;
  border-radius: 4px;
}

.style-btn-create-test:hover {
  opacity: 0.8;
}

.ql-editor {
  font-size: 16px;
}

.editor{
  height: 400px;
  overflow-y: auto;
}

.style-image-to-update {
  width: 10rem;
  height: 10rem;
}