/* Xóa gạch dưới của tiêu đề modal */
.modal-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px 20px 20px;
}

/* Tiêu đề modal */
.custom-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

/* Nút đóng ở góc phải */
.btn-close {
  font-size: 1rem;
  padding: 5px;
}

/* Modal Styling */
.custom-modal {
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Căn lề trái cho tiêu đề kết quả và tiêu đề câu hỏi */
.result-text {
  text-align: left !important;
  margin-left: 1px;
}
.question-title {
  text-align: left !important;
  margin-left: 1px;
  font-weight: bold;
}

/* Scrollbar giống Figma */
.modal-body::-webkit-scrollbar {
  width: 8px;
}

.modal-body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.modal-body::-webkit-scrollbar-track {
  background: #e2ebf0;
}

/* Table Styling */
.custom-table {
  font-size: 1rem;
}

.custom-table th, .custom-table td {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ddd;
}

/* Màu sắc kết quả */

/* Điểm số */
.point {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  margin-top: 5px;
}

.btn-return-list:hover {
  background-color: #0056b3;
}

/* Button mở modal */
.open-modal-btn {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
}

.open-modal-btn:hover {
  background-color: #0056b3;
}
.question-container {
  max-height: 480px; /* Giới hạn chiều cao */
  overflow-y: auto; /* Kích hoạt thanh cuộn dọc */
  padding-right: 10px; /* Tạo khoảng trống để không bị che bởi scrollbar */

}

/* Tùy chỉnh scrollbar giống Figma */
.question-container::-webkit-scrollbar {
  width: 7px;
}

.question-container::-webkit-scrollbar-thumb {
  background: #2C2C84;
  border-radius: 4px;
}

.question-container::-webkit-scrollbar-track {
  background: #e2ebf0;
}

.color-set {
  &.pass-result {
    color: #009411 !important;
    font-weight: bold;
  }

  &.fail-result {
    color: #FF0000 !important;
    font-weight: bold;
  }

}

.style-code-view {
  text-align: left; /* Căn nội dung sang trái */
  white-space: pre-wrap; /* Để giữ định dạng */
  font-size: 14px;
}