:root{
  --background-color: #FFFAFA;
  --width-screen: 110rem;
  --height-screen: 51rem;
  --purple-iuh: #2C2C84;
  --white: #FFFFFF;
  --grey: #D9D9D9;
  --black: #000000;
  --grey-item: #EBEBEB;
  --background-linear: linear-gradient(to right,#786BDE, rgba(187, 183, 215, 0.5));
  --danger-color-red: #FF0000;
  --hover-button-border: #6D88CE;
}

body {
  width: auto;
  font-weight: normal;
  margin: 0 auto;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: red; */
  background-color: var(--background-color);
  overflow: auto;
  padding: 0;
}

//h1 {
//
//}

