:root{
  --background-color: #FFFAFA;
}

body {
  width: auto;
  margin: 0 auto;
  font-weight: normal;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
}

//h1 {
//
//}

