//.view-input-function-java-core {
//  display: flex;
//  border: solid;
//  width: 100%;
//  height: 5rem;
//}
.style-button-generate-func {
  width: 10rem;
  height: 2.5rem;
  font-size: 16px;
  border-radius: 4px;
}

.style-button-generate-func:hover {
  opacity: 0.8;
}

.style-button-save-para {
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
}

.style-button-save-para:hover {
  opacity: 0.8;
}